@charset "UTF-8";
/*body reset*/
/*body reset*/
body {
  margin: 0;
  height: 100%; }

/*body reset*/
/*body reset*/
/**/
/**/
/**/
/*Barra de Navegacion*/
/*Barra de Navegacion*/
/*Barra de Navegacion*/
.barra_div {
  padding: 0;
  width: 100%;
  height: 38px;
  background-image: url(../imagenes/amazonas.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  height: 180px; }
  .barra_div .nav_cont_five {
    display: flex;
    justify-content: center;
    padding-top: 90px; }
    .barra_div .nav_cont_five li {
      list-style: none; }
    .barra_div .nav_cont_five a {
      text-decoration: none;
      color: #0E8300; }
    .barra_div .nav_cont_five .op {
      padding: 10px;
      margin: 40px;
      background-color: #DAF7C4; }
  .barra_div .op:hover {
    padding: 15px;
    background-color: #A6E19F; }
  .barra_div .nav_cont {
    display: none; }
  .barra_div .barra {
    display: none; }

.icono {
  display: none; }

@media only screen and (max-width: 1200px) {
  .barra_div {
    padding: 0;
    width: 100%;
    height: 38px;
    background-image: url(../imagenes/amazonas.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    height: 180px; }
    .barra_div .nav_cont_five {
      display: none; }
      .barra_div .nav_cont_five .op {
        display: none; }
    .barra_div .icono {
      display: inline;
      width: 40px;
      height: 40px;
      margin-left: 25px;
      margin-top: 40px; }
    .barra_div .nav_cont {
      display: inline;
      list-style: none;
      position: absolute;
      z-index: 1;
      background-color: #DAF7C4;
      margin-left: -400px;
      padding: 0%;
      width: 250px;
      height: 181px;
      transition-duration: 1s , 2s; }
      .barra_div .nav_cont .barra {
        display: inline; }
      .barra_div .nav_cont a {
        text-decoration: none;
        color: #0E8300;
        font-size: 23px; }
      .barra_div .nav_cont .a {
        padding-right: 54%;
        padding-left: 3px; }
      .barra_div .nav_cont .b {
        padding-right: 39%;
        padding-left: 3px; }
      .barra_div .nav_cont .c {
        padding-right: 66%;
        padding-left: 3px; }
      .barra_div .nav_cont .d {
        padding-right: 82.9%;
        padding-left: 3px; }
      .barra_div .nav_cont .e {
        padding-right: 49.7%;
        padding-bottom: 10px;
        padding-left: 3px; }
  .barra:hover {
    background-color: #A6E19F; }
  .barra_div:hover > .nav_cont {
    margin-left: 0px; } }

/*Termina Barra de Navegacion*/
/*Termina Barra de Navegacion*/
/*Termina Barra de Navegacion*/
/**/
/**/
/**/
/**/
/*Energiás renovables*/
/*Energiás renovables*/
.flex_container_er {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin-bottom: 10%; }
  .flex_container_er .flex_item_er {
    width: 100%;
    height: 600px; }
  .flex_container_er .eo_txt, .flex_container_er .sol_txt, .flex_container_er .hid_txt {
    text-align: center;
    height: 50%;
    padding: 5%; }

/* termina Energiás renovables*/
/* termina Energiás renovables*/
/**/
/**/
/*contaminacion*/
/*contaminacion*/
/*contaminacion*/
/*contaminacion*/
.cont_div {
  box-sizing: border-box;
  padding: 10%;
  display: flex;
  flex-direction: column;
  text-align: center; }
  .cont_div .cont_info, .cont_div .cont_info_dos {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000; }
  .cont_div .cont_info_dos {
    margin-top: 50px; }

.cont_img {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center; }
  .cont_img .general {
    width: 100%;
    height: 100%;
    margin-bottom: 20%; }
  .cont_img .br70 {
    border-bottom: 2px solid #000000; }
  .cont_img .img_cont {
    width: 100%;
    height: 100%; }
  .cont_img .cont_text {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%; }

/*Termina Contaminacion*/
/*Termina Contaminacion*/
/*Termina Contaminacion*/
/**/
/**/
/*reciclaje*/
/*reciclaje*/
/*reciclaje*/
/*reciclaje*/
/*reciclaje*/
/*reciclaje*/
/*reciclaje*/
/*reciclaje*/
.title {
  text-align: center;
  width: 70%;
  height: 20%;
  padding-left: 30%;
  padding-top: 10%; }
  .title .rec_p {
    border: 1px solid #000000; }

.grid_rec {
  display: grid;
  padding: 10%;
  grid-template-columns: repeat(1, fr);
  width: 100%;
  height: 100%;
  text-align: center; }
  .grid_rec .grid_item {
    border: 1px solid #000000;
    width: 100%;
    height: 300px; }
  .grid_rec .met {
    padding-bottom: 10%;
    padding-top: 5%; }
  .grid_rec h1 {
    border-bottom: 1px solid #000000; }

/*Termina Metodos de reciclaje*/
/*Termina Metodos de reciclaje*/
/*Termina Metodos de reciclaje*/
/**/
/**/
/**/
/**/
/*ong*/
/*ong*/
/*ong*/
/*ong*/
/*ong*/
/*ong*/
/*ong*/
/*ong*/
/*ong*/
.ong_title {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center; }
  .ong_title h1 {
    align-self: center; }
  .ong_title h3 {
    align-self: center; }
  .ong_title p {
    align-self: center;
    width: 50%;
    border-bottom: 1px solid #000000; }

.natura {
  padding-top: 5%;
  padding-bottom: 8%; }
  .natura .natura_text {
    padding-bottom: 5%; }
    .natura .natura_text .green_p {
      padding-top: 7%;
      border-left: 1px solid #000000;
      text-align: center; }
  .natura .green_text {
    padding-bottom: 8%; }
    .natura .green_text .green_p {
      padding-top: 7%;
      border-left: 1px solid #000000;
      text-align: center; }
  .natura .wwf_text .green_p {
    padding-top: 7%;
    border-left: 1px solid #000000;
    text-align: center; }

/*Responsive org*/
/*Responsive org*/
/*Responsive org*/
/*Responsive org*/
/*Responsive org*/
/*Responsive org*/
/*Responsive org*/
/*Responsive org*/
/*Responsive org*/
/*Responsive org*/
@media only screen and (max-width: 1200px) {
  .natura {
    padding-top: 5%;
    padding-left: 15%; }
    .natura .natura_text {
      padding-bottom: 5%; }
      .natura .natura_text .green_p {
        border-left: none;
        border-top: 1px solid #000000; }
    .natura .green_text {
      padding-bottom: 8%; }
      .natura .green_text .green_p {
        border-left: none;
        border-top: 1px solid #000000; }
    .natura .wwf_text .green_p {
      border-left: none;
      border-top: 1px solid #000000; } }

@media only screen and (max-width: 984px) {
  .natura {
    padding-top: 5%;
    padding-left: 0px; }
    .natura .natura_text {
      padding-bottom: 5%; }
      .natura .natura_text .green_p {
        border-left: none;
        border-top: 1px solid #000000; }
    .natura .green_text {
      padding-bottom: 8%; }
      .natura .green_text .green_p {
        border-left: none;
        border-top: 1px solid #000000; }
    .natura .wwf_text .green_p {
      border-left: none;
      border-top: 1px solid #000000; } }

/*Termina ong*/
/*Termina ong*/
/*Termina ong*/
/*Termina ong*/
/**/
/**/
/*pagina de contacto*/
/*pagina de contacto*/
/*pagina de contacto*/
/*pagina de contacto*/
/*pagina de contacto*/
/*pagina de contacto*/
.form_cont {
  width: 700px;
  height: 450px;
  background-color: #D5FDB3;
  margin-left: 30%;
  margin-top: 7%;
  border-radius: 3%;
  border: 1px solid #000000; }
  .form_cont .form {
    margin-top: 40px;
    width: 100%;
    height: 400px;
    /*input*/
    /*input*/
    /*input*/
    /*input*/
    /*input*/
    /*input*/
    /*input*/
    /*input*/
    /*input*/
    /*input*/
    /*input*/
    /*input*/
    /*input*/
    /*input*/
    /*input*/
    /*input*/
    /*input*/
    /*input*/
    /*input*/
    /*input*/
    /*input*/
    /*input*/
    /*input*/
    /*input*/
    /*input*/
    /*input*/
    /*input*/
    /*input*/ }
    .form_cont .form .form_input {
      width: 50%;
      margin: 17px; }
    .form_cont .form .inp {
      margin: 5px;
      margin-left: 19px;
      margin-top: 0px;
      width: 100%; }
    .form_cont .form .date, .form_cont .form .button {
      margin-top: 5px; }
    .form_cont .form .email {
      margin-top: 10px; }
    .form_cont .form .pass {
      margin-top: 15px; }
    .form_cont .form .form_button {
      width: 100px;
      margin-left: 125px; }
    .form_cont .form .form_logo {
      position: absolute;
      margin-left: 390px;
      width: 280px;
      height: 280px;
      border-radius: 50%;
      margin-top: 37px; }
    .form_cont .form .form_logo_dos {
      display: none; }

@media only screen and (max-width: 1266px) {
  .form_cont {
    width: 550px;
    height: 650px;
    background-color: #D5FDB3;
    margin-left: 23%;
    margin-top: 10%;
    margin-bottom: 100px;
    border-radius: 3%;
    border: 1px solid #000000; }
    .form_cont .form {
      margin-top: 40px;
      width: 90%;
      height: 400px;
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/ }
      .form_cont .form .form_input {
        width: 100%;
        display: inline-block;
        margin: 17px; }
      .form_cont .form .inp {
        margin: 5px;
        margin-left: 19px;
        margin-top: 0px;
        width: 400px; }
      .form_cont .form .date, .form_cont .form .button {
        margin-top: 5px; }
      .form_cont .form .email {
        margin-top: 10px; }
      .form_cont .form .pass {
        margin-top: 15px; }
      .form_cont .form .button {
        margin-top: 5px; }
      .form_cont .form .form_button {
        width: 100px;
        margin-left: 50%; }
      .form_cont .form .form_logo {
        display: none; }
      .form_cont .form .form_logo_dos {
        display: inline-block;
        height: 43%;
        width: 40%;
        border-radius: 50%;
        margin-top: 30px;
        margin-left: 35%; } }

@media only screen and (max-width: 831px) {
  .form_cont {
    width: 450px;
    height: 650px;
    background-color: #D5FDB3;
    margin-left: 22%;
    margin-top: 15%;
    border-radius: 3%;
    border: 1px solid #000000; }
    .form_cont .form {
      margin-top: 40px;
      height: 400px;
      width: 90%;
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/ }
      .form_cont .form .form_input {
        width: 100%;
        display: inline-block;
        margin: 17px; }
      .form_cont .form .inp {
        margin: 5px;
        margin-left: 19px;
        margin-top: 0px;
        width: 400px; }
      .form_cont .form .date, .form_cont .form .button {
        margin-top: 5px; }
      .form_cont .form .email {
        margin-top: 10px; }
      .form_cont .form .pass {
        margin-top: 15px; }
      .form_cont .form .button {
        margin-top: 5px; }
      .form_cont .form .form_button {
        width: 20%;
        margin-left: 43%; }
      .form_cont .form .form_logo {
        display: none; }
      .form_cont .form .form_logo_dos {
        display: inline-block;
        width: 50%;
        height: 43%;
        border-radius: 50%;
        margin-top: 30px;
        margin-left: 33%; } }

@media only screen and (max-width: 740px) {
  .form_cont {
    width: 350px;
    height: 650px;
    background-color: #D5FDB3;
    margin-left: 20%;
    margin-top: 15%;
    border-radius: 3%;
    border: 1px solid #000000; }
    .form_cont .form {
      margin-top: 40px;
      width: 90%;
      height: 400px;
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/ }
      .form_cont .form .form_input {
        width: 100%;
        display: inline-block;
        margin: 17px; }
      .form_cont .form .inp {
        margin: 5px;
        margin-left: 19px;
        margin-top: 0px;
        width: 400px; }
      .form_cont .form .date, .form_cont .form .button {
        margin-top: 5px; }
      .form_cont .form .email {
        margin-top: 10px; }
      .form_cont .form .pass {
        margin-top: 15px; }
      .form_cont .form .button {
        margin-top: 5px; }
      .form_cont .form .form_button {
        width: 100px;
        margin-left: 28%; }
      .form_cont .form .form_logo {
        display: none; }
      .form_cont .form .form_logo_dos {
        display: inline-block;
        width: 58%;
        height: 43%;
        border-radius: 50%;
        margin-top: 30px;
        margin-left: 30%; } }

@media only screen and (max-width: 520px) {
  .form_cont {
    width: 70%;
    height: 460px;
    background-color: #D5FDB3;
    border-radius: 3%;
    border: 1px solid #000000;
    margin-bottom: 100px; }
    .form_cont .form {
      margin-top: 40px;
      width: 90%;
      height: 400px;
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/ }
      .form_cont .form .form_input {
        width: 100%;
        display: inline-block;
        margin: 17px; }
      .form_cont .form .inp {
        margin: 5px;
        margin-left: 19px;
        margin-top: 0px;
        width: 80%; }
      .form_cont .form .date, .form_cont .form .button {
        margin-top: 5px; }
      .form_cont .form .email {
        margin-top: 10px; }
      .form_cont .form .pass {
        margin-top: 15px; }
      .form_cont .form .button {
        margin-top: 5px; }
      .form_cont .form .form_button {
        width: 100px;
        margin-left: 32%; }
      .form_cont .form .form_logo {
        display: none; }
      .form_cont .form .form_logo_dos {
        display: none; } }

@media only screen and (max-width: 300px) {
  .form_cont {
    width: 70%;
    height: 450px;
    background-color: #D5FDB3;
    margin-left: 20%;
    margin-top: 15%;
    border-radius: 3%;
    border: 1px solid #000000; }
    .form_cont .form {
      margin-top: 40px;
      width: 90%;
      height: 400px;
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/ }
      .form_cont .form .form_input {
        width: 100%;
        display: inline-block;
        margin: 17px;
        margin-left: 5px; }
      .form_cont .form .inp {
        margin: 5px;
        margin-left: 19px;
        margin-top: 0px;
        width: 400px; }
      .form_cont .form .date, .form_cont .form .button {
        margin-top: 5px; }
      .form_cont .form .email {
        margin-top: 10px; }
      .form_cont .form .pass {
        margin-top: 15px; }
      .form_cont .form .button {
        margin-top: 5px; }
      .form_cont .form .form_button {
        width: 100px;
        margin-left: 8%; }
      .form_cont .form .form_logo {
        display: none; }
      .form_cont .form .form_logo_dos {
        display: none; } }

@media only screen and (max-width: 280px) {
  .form_cont {
    width: 70%;
    height: 530px;
    background-color: #D5FDB3;
    border-radius: 3%;
    border: 1px solid #000000;
    margin-bottom: 100px; }
    .form_cont .form {
      margin-top: 40px;
      width: 90%;
      height: 400px;
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/
      /*input*/ }
      .form_cont .form .form_input {
        width: 100%;
        display: inline-block;
        margin: 17px;
        margin-left: 5%; }
      .form_cont .form .inp {
        margin: 5px;
        margin-left: 19px;
        margin-top: 0px;
        width: 80%; }
      .form_cont .form .date, .form_cont .form .button {
        margin-top: 5px; }
      .form_cont .form .email {
        margin-top: 10px; }
      .form_cont .form .pass {
        margin-top: 15px; }
      .form_cont .form .button {
        margin-top: 5px; }
      .form_cont .form .form_button {
        width: 70%;
        margin-left: 15%; }
      .form_cont .form .form_logo {
        display: none; }
      .form_cont .form .form_logo_dos {
        display: none; } }

/*Termina Pagina De Contacto*/
/*Termina Pagina De Contacto*/
/*Termina Pagina De Contacto*/
/**/
/**/
/*footer*/
/*footer*/
/*footer*/
/*footer*/
/*footer*/
/*footer*/
/*footer*/
footer {
  background-color: #E7FFE7;
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  z-index: 2; }
  footer .footer_div {
    width: 100%;
    display: flex;
    justify-content: center; }
  footer .footer_div li {
    list-style: none;
    display: inline;
    padding-left: 5%;
    text-decoration: none; }
    footer .footer_div li a {
      text-decoration: none;
      color: #0E8300; }

/*termina Footer*/
/*termina Footer*/
/*termina Footer*/
/*termina Footer*/
