/*pagina de contacto*//*pagina de contacto*//*pagina de contacto*//*pagina de contacto*//*pagina de contacto*//*pagina de contacto*/
.form_cont{
    @include sizes (700px, 450px);
    background-color:#D5FDB3;
    margin-left: 30%;
    margin-top: 7%;
    border-radius: 3%;
    border:$line_border;
 
 
    .form{margin-top: 40px;
         @include sizes($all,400px);
       
    
    
       .form_input{width:$all / 2;
          margin:17px;} 

       .inp{margin:5px;
        margin-left: 19px; 
        margin-top: 0px;   
        width:$all;}


        /*input*/ /*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*/



       .date{margin-top: 5px;}

       .email{margin-top: 10px;}

       .pass{margin-top: 15px;}

       .button{@extend .date;}

       /*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*/


       .form_button{width: 100px;
           margin-left: 125px;}




   


       .form_logo{position: absolute;
                  margin-left: 390px;
                  @include sizes(280px, 280px);
                  border-radius: $all / 2;
                  margin-top: 37px;}
                
                
        .form_logo_dos{display: none;}}}




@media only screen and (max-width:1266px){
  
  
  .form_cont{@include sizes (550px, 650px);
             background-color:#D5FDB3;
             margin-left:23%;
             margin-top: 10%;
             margin-bottom: 100px;
             border-radius: 3%;
             border:$line_border;
   
 
 
                 .form{margin-top: 40px;
                       @include sizes(90%,400px);
                       
    
    
       
                            .form_input{width:$all;
                                        display:inline-block;
                                        margin:17px;} 

        

                                             .inp{margin:5px;
                                                  margin-left: 19px; 
                                                  margin-top: 0px;   
                                                  width:400px;}


        /*input*/ /*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*/



       .date{margin-top: 5px;}

       .email{margin-top: 10px;}

       .pass{margin-top: 15px;}

       .button{margin-top: 5px;}

       /*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*/


       .form_button{width: 100px;
           margin-left: 50%;}




   


           .form_logo{display: none;}
                
                
           .form_logo_dos{display: inline-block;
                          height: 43%;
                          width: 40%;
                          border-radius: 50%;
                          margin-top: 30px;
                          margin-left: 35%;}}}}
  
  
  
  
  
  
  
  
  
@media only screen and (max-width:831px){

  .form_cont{
    @include sizes (450px, 650px);
    background-color:#D5FDB3;
    margin-left:22%;
    margin-top: 15%;
    border-radius: 3%;
    border:$line_border;
   
 
 
              .form{margin-top: 40px;
                    
                    height: 400px;
                    width: 90%;
    
    
       
                      .form_input{width:$all;
                                  display:inline-block;
                                  margin:17px;} 

        

                                        .inp{margin:5px;
                                             margin-left: 19px; 
                                             margin-top: 0px;   
                                             width: 400px;}


        /*input*/ /*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*/



       .date{margin-top: 5px;}

       .email{margin-top: 10px;}

       .pass{margin-top: 15px;}

       .button{margin-top: 5px;}

       /*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*/


       .form_button{width:20%;
                    margin-left: 43%;}




   


           .form_logo{display: none;}
                
                
           .form_logo_dos{display: inline-block;
                          @include sizes(50%, 43%);
                          border-radius:$all / 2;
                          margin-top: 30px;
                          margin-left: 33%;}}}}
  





  
@media only screen and (max-width:740px){

                  .form_cont{
                    @include sizes (350px, 650px);
                    background-color:#D5FDB3;
                    margin-left:20%;
                    margin-top: 15%;
                    border-radius: 3%;
                    border:$line_border;
                   
                 
                 
                       .form{margin-top: 40px;
                             @include sizes(90%, 400px);
                             
                    
                    
                       
                                .form_input{width:$all;
                                            display:inline-block;
                                            margin:17px;} 
                
                        
                
                                .inp{margin:5px;
                                     margin-left: 19px; 
                                     margin-top: 0px;   
                                     width: 400px;}
                
                
                        /*input*/ /*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*/
                
                
                
                       .date{margin-top: 5px;}
                
                       .email{margin-top: 10px;}
                
                       .pass{margin-top: 15px;}
                
                       .button{margin-top: 5px;}
                
                       /*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*/
                
                
                       .form_button{width: 100px;
                           margin-left: 28%;}
                
                
                
                
                   
                
                
                           .form_logo{display: none;}
                                
                                
                           .form_logo_dos{display: inline-block;
                                          @include sizes(58%, 43%);
                                          border-radius: $all / 2;
                                          margin-top: 30px;
                                          margin-left: 30%;}}}}



@media only screen and (max-width:520px){

                  .form_cont{
                    @include sizes (70%, 460px);
                    background-color:#D5FDB3;
                    border-radius: 3%;
                    border:$line_border;
                    margin-bottom: 100px;
                   
                 
                 
                       .form{margin-top: 40px;
                            
                             @include sizes(90%, 400px);
                             
                    
                    
                       
                                .form_input{width:$all;
                                            display:inline-block;
                                            margin:17px;} 
                
                        
                
                                .inp{margin:5px;
                                     margin-left: 19px; 
                                     margin-top: 0px;   
                                     width: 80%;}
                
                
                        /*input*/ /*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*/
                
                
                
                       .date{margin-top: 5px;}
                
                       .email{margin-top: 10px;}
                
                       .pass{margin-top: 15px;}
                
                       .button{margin-top: 5px;}
                
                       /*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*/
                
                
                       .form_button{width: 100px;
                           margin-left: 32%;}
                
                
                
                
                   
                
                
                           .form_logo{display: none;}
                           .form_logo_dos{display: none;}
                                
                           }}}                                         
@media only screen and (max-width:300px){.form_cont{
                    @include sizes (70%, 450px);
                    background-color:#D5FDB3;
                    margin-left:20%;
                    margin-top: 15%;
                    border-radius: 3%;
                    border:$line_border;
                   
                 
                 
                       .form{margin-top: 40px;
                             @include sizes(90%, 400px);
                             
                    
                    
                       
                                .form_input{width:$all;
                                            display:inline-block;
                                            margin:17px;
                                            margin-left: 5px;
                                          } 
                
                        
                
                                .inp{margin:5px;
                                     margin-left: 19px; 
                                     margin-top: 0px;   
                                     width: 400px;}
                
                
                        /*input*/ /*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*/
                
                
                
                       .date{margin-top: 5px;}
                
                       .email{margin-top: 10px;}
                
                       .pass{margin-top: 15px;}
                
                       .button{margin-top: 5px;}
                
                       /*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*/
                
                
                       .form_button{width: 100px;
                           margin-left: 8%;}
                
                
                
                
                   
                
                
                           .form_logo{display: none;}
                                
                                
                           .form_logo_dos{display: none;}}}}



@media only screen and (max-width:280px){

                  .form_cont{
                    @include sizes (70%, 530px);
                    background-color:#D5FDB3;
                    border-radius: 3%;
                    border:$line_border;
                    margin-bottom: 100px;
                   
                 
                 
                       .form{margin-top: 40px;
                            
                             @include sizes(90%, 400px);
                             
                    
                    
                       
                                .form_input{width:$all;
                                            display:inline-block;
                                            margin:17px;
                                            margin-left: 5%;
                                          }  
                
                        
                
                                .inp{margin:5px;
                                     margin-left: 19px; 
                                     margin-top: 0px;   
                                     width: 80%;}
                
                
                        /*input*/ /*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*/
                
                
                
                       .date{margin-top: 5px;}
                
                       .email{margin-top: 10px;}
                
                       .pass{margin-top: 15px;}
                
                       .button{margin-top: 5px;}
                
                       /*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*//*input*/
                
                
                       .form_button{width: 70%;
                           margin-left: 15%;}
                
                
                
                
                   
                
                
                           .form_logo{display: none;}
                           .form_logo_dos{display: none;}
}   }}          
/*Termina Pagina De Contacto*//*Termina Pagina De Contacto*//*Termina Pagina De Contacto*//**//**/


  
  
