/*footer*//*footer*//*footer*//*footer*//*footer*//*footer*//*footer*/
footer{background-color: #445;
       @include sizes($all,50px);
       position: fixed;
       bottom: 0;
       
       
          .footer_div{width: $all;
                      display: flex;
                      justify-content: center;}
              
                      .footer_div li{list-style: none;
                                     display: inline; 
                                     padding-left: 5%;
                                     text-decoration: none;
                                      
                                          a{text-decoration: none;
                                            color: beige;}}}
/*termina Footer*//*termina Footer*//*termina Footer*//*termina Footer*/

