/**//**//*Energiás renovables*//*Energiás renovables*/
.flex_container_er{display: flex;
                   flex-wrap: wrap;
                   @include sizes($all,$all);   
                   margin-bottom: 10%;
                

    
    


       .flex_item_er{height: 600px;
                     width: $all;}
       
        .eo_txt{text-align: center;
                height: 50%;
                padding:5%;
    }
            
       .sol_txt{@extend .eo_txt;
}

       .hid_txt{@extend .eo_txt;}}
/* termina Energiás renovables*//* termina Energiás renovables*//**//**/

