/**//**//*Barra de Navegacion*//*Barra de Navegacion*//*Barra de Navegacion*/
.barra_div{padding: 0;
           @include sizes($all,38px);
           background-image: url(../imagenes/amazonas.png);
           background-repeat: no-repeat;
           background-size: cover;
           background-position-y: center;
           height: 180px;
           
           
           

           .nav_cont_five{display: flex;
                          justify-content: center;
                          padding-top: 90px;
                         
                          
                          
         
                  li{list-style: none;}
                 
                  a{text-decoration: none;
                    color: #0E8300;}
                 
                    .op{padding: 10px;
                      margin: 40px;
                      background-color: #DAF7C4;}}
                 
                      .op:hover{padding: 15px;
                               background-color: #A6E19F;
}
                           .nav_cont{display: none;}
                                .barra{display: none ;}}


.icono{display: none;}

@media only screen and(max-width:1200px){
   
  
   .barra_div{padding: 0;
              @include sizes($all,38px);
              background-image: url(../imagenes/amazonas.png);
              background-repeat: no-repeat;
              background-size: cover;
              background-position-y: center;
              height: 180px;

            .nav_cont_five{display:none;
      
            .op{display: none;}}
      
      
   .icono{display: inline;
         @include sizes(40px, 40px);
         margin-left:25px;
         margin-top:40px;} 
    
    
         .nav_cont{display: inline;
                   list-style: none;
                   position: absolute;     
                   z-index:1;
                   background-color: #DAF7C4;
                   margin-left: -400px;
                   padding: 0%;
                   @include sizes(250px,181px);
                   transition-duration: 1s , 2s;



             .barra{display: inline;}
               a{text-decoration: none;
                 color: #0E8300;
                 font-size: 23px;}
            
            
            
            .a{padding-right:54%;
               padding-left: $padding_nav;}
           
            .b{padding-right:39%;
               padding-left:$padding_nav;}
           
            .c{padding-right:66%;
               padding-left:$padding_nav;}
            
            .d{padding-right:82.9%;
               padding-left:$padding_nav;}
           
            .e{padding-right:49.7%;
               padding-bottom: 10px;
               padding-left:$padding_nav;}}
    

    




          
}
.barra:hover{background-color: #A6E19F;}
.barra_div:hover > .nav_cont{margin-left: 0px;}
}











   

/*Termina Barra de Navegacion*//*Termina Barra de Navegacion*//*Termina Barra de Navegacion*//**//**/