$padding_nav:3px;



$grid:0 max-content;



$footer-color:#445;



$all:cover;





$line_border:1px solid #000000;




$estilos:(
  
  height:100%,
  width:63%,
  border-left:$line_border,
  margin-left:34%


);